body{
    background: linear-gradient(to top, skyblue, lightgreen);
    background-image: url("background.jpg");
}
#cart{
    float:right;
    height: 3em;
    width: auto;
    margin:1%;
}
.brand{
    font-weight: bolder;
}
nav{
    background-color: #0097B2;
}