#cart{
    float:right;
    height: 2em;
    width: auto;
    margin:1%;
}

a{
    font-size: 2em;
    color: black;
    text-decoration:solid;
}

nav{
    padding: 5em;
    background-color: #896723;
}